body {
    font-size: 2em;

}

h1 {
    color: #e20909;
}

h2 {
    color: #530303;
}

#div-pre{
    background-color:#e20963
}

#vazia{
    height: 30px;
    width: 50px;
    background-color: blue;
}


